---
interface Props {
  product: {
    data: {
      genericImage: { url: string; alt?: string };
      title: string;
      description?: string;
      price: number;
      images: { url: string; alt?: string }[];
    };
  };
}

const { product } = Astro.props;
---

<a
  href={`/productos/${product.data.title}`}
  class="h-[450px] w-[300px] flex flex-col justify-center border-[rgba(210,180,140,0.3)] bg-white/0 backdrop-blur-md shadow-xl rounded-xl hover:shadow-2xl transition-shadow duration-300"
>
  <img
    src={product.data.genericImage.url}
    alt={product.data.genericImage.alt}
    class="w-full h-65 object-contain rounded-t-lg p-2"
    loading="lazy"
  />
  <div class="p-4">
    <h2 class="text-xl font-semibold mb-2 text-teal-900 text-center">
      {product.data.title}
    </h2>
    <span class="block text-lg font-bold text-teal-900 text-center">
      {product.data.price}€
  </div>
</a>
